<!-- <router-outlet></router-outlet> -->

<div class="d-flex">
  <!-- Sidebar -->
  <app-sidebar></app-sidebar>

  <!-- Search engine -->
  <div class="container" id="Search">
    <div class="row p-3">
      <div class="col">
        <h5>Welcome!</h5>
        <input type="text" class="form-control" placeholder="Search gif...">
      </div>
    </div>

    <hr class="text-dark">

    <div class="row">
      <div class="col">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur officiis unde nobis ut incidunt sed. Sunt, incidunt illum omnis, velit ut in distinctio corrupti, repellendus exercitationem sapiente illo odio rerum.
      </div>
    </div>
  </div>
</div>
