<div class="bg-primary bg-gradient p-3" id="Sidebar">
  <h1 class="text-light">GifsApp</h1>
  <hr class="text-light">
  <div class="list-group list-reset">
    <a href="#" class="list-group-item list-group-item-action">Option 1</a>
  </div>
</div>
